@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 15px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li a {
    text-decoration: none;
}

p {
    font-size: 15px;
    display: inline-block;
    margin: 0px;
}

h1 {
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    margin: 0px 0px;
}

.h1_tall {
    font-weight: normal;
}

.h2_tall_black {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    /* identical to box height */

    margin: 0px;
    color: #0B1728;
}

.h3_white {
    margin: 0px;
    font-size: 28px;
    color: white;
}

.h3_black {
    margin: 0px;
    font-size: 28px;
    color: #0B1728;
}

.firstScreen_centerText h1 {
    width: 328px;
    color: white;
    text-align: center;
}

.p_black {
    color: #0B1728;
}

.p_Bgrey {
    color: #0B1728;
    opacity: 50%;
}

.p_Wgrey {
    color: #ffffff;
    opacity: 50%;
}

.p_white {
    color: #ffffff;
}

.mainContent {
    display: block;
    height: 100%;
    width: 100%;
}

.firstScreen {
    width: 100%;
    height: 100vh;
    background: url(../back1.jpg);
}

.header_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 94px;
    padding: 26px 60px;
}

.header_buttons {
    display: flex;
    column-gap: 20px;
}

button {
    display: flex;
    padding: 10px 20px;
    text-transform: capitalize;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: .2s ease-out all;
    width: fit-content;
}

.button_white:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #FFCD1E;
    filter: drop-shadow(0px 0px 20px #FFCD1E);
}

.button_red {
    color: rgba(255, 52, 52, 0.5);
    border: 1px solid rgba(255, 52, 52, 0.5);
}

.button_red:hover {
    cursor: pointer;
    color: rgba(255, 52, 52, 1);
    border: 1px solid rgba(255, 52, 52, 1);
    filter: drop-shadow(0px 0px 20px rgba(255, 52, 52, 1));
}

.button_black {
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.button_black:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

.button_green {
    color: rgba(29, 226, 29, 0.5);
    border: 1px solid rgba(29, 226, 29, 0.5);
}

.button_green:hover {
    cursor: pointer;
    color: rgb(29, 226, 29);
    border: 1px solid rgb(29, 226, 29);
    filter: drop-shadow(0px 0px 20px rgba(29, 226, 29, 1));
}

.firstScreen_centerText {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
    animation: start 1s ease-out;
    z-index: 500;
}

.firstScreen_centerText a {
    margin-top: 30px;
    align-self: auto;
}

.nav_home {
    padding: 0px 60px;
}

.nav_home ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.nav_home ul li a {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.5);
    transition: .2s ease-out all;
}

.nav_home ul li a:hover {
    color: white;
    filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}

.just_yellow {
    width: 10px;
    height: 10px;
    background: #FFCD1E;
    box-shadow: 0px 0px 45px #FFCD1E;
}

#h1_yellow {
    color: #FFCD1E;
}

#button_yellow {
    color: #FFCD1E;
}

.nav {
    float: left;
    padding: 0px 60px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.nav ul li a {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.5);
    transition: .2s ease-out all;
}

.nav ul li a:hover {
    color: rgb(0, 0, 0);
}

.content-board {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    float: left;
}

.line {
    z-index: 501;
    float: left;
    margin: 0px 30px;
    height: 40vh;
    width: 1px;
    background: rgb(0, 0, 0, 0.25);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
}

form .button_black {
    margin-top: 20px;
}

.input-default {
    border: none;
    outline: none;
    padding: 14px 18px;
    max-width: 600px;
    max-height: 300px;
    background: #F9F9F9;
    transition: .2s ease-out all;
}

.input-default:hover {
     background: #f3f3f3;
}

.input-default:focus {
    background: #ffffff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.20);
}

.input-div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.input-div input {
    border: none;
    outline: none;
    padding: 14px 18px;
    max-width: 300px;
    background: #F9F9F9;
    transition: .2s ease-out all;
}

.input-div input:hover {
    background: #f3f3f3;
}

.input-div input:focus {
    background: #ffffff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.20);
}

.input-up:hover {
    cursor: pointer;
}

.profile_project {
    box-sizing: border-box;
    padding: 20px 30px;
    background: #0B1728;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.profile_profile {
    border-bottom: 1px solid #142947;
    box-sizing: border-box;
    padding: 20px 30px;
    background: #0B1728;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
}

.row_line {
    display: flex;
    gap: 10px;
}

a .h3_white:hover {
    color: rgba(255, 255, 255, 0.5);
}

.profile_project .p_white {
    color: rgba(255, 255, 255, 0.5);
}

.profile_project .p_white:hover {
    color: rgba(255, 255, 255, 0.75);
}

.content_profile {
    display: flex;
    max-width: 80vw;
    flex-wrap: wrap;
    gap: 30px;
}

.content_profiles {
    display: flex;
    flex-direction: column;
}

.vertical_gap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer {
    margin-top: 60px;
    bottom: auto;
    float: left;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 105px;
}

select {
    border: none;
    outline: none;
    padding: 14px 18px;
    max-width: 600px;
    max-height: 300px;
    background: #F9F9F9;
    transition: .2s ease-out all;
}

select:hover {
    background: #f3f3f3;
}

option {
    border: none;
    outline: none;
    padding: 14px 18px;
    max-width: 600px;
    background: #F9F9F9;
    transition: .2s ease-out all;
}